<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>257280972451-8omoa7hteb1rk0ong1fm9562jgo133un.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.257280972451-8omoa7hteb1rk0ong1fm9562jgo133un</string>
	<key>API_KEY</key>
	<string>AIzaSyD7e5PdPtUliiKGoF8bUtxzTfyoiJo2Bq0</string>
	<key>GCM_SENDER_ID</key>
	<string>257280972451</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ClaireChiou.Publisher</string>
	<key>PROJECT_ID</key>
	<string>publisher-30d9e</string>
	<key>STORAGE_BUCKET</key>
	<string>publisher-30d9e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:257280972451:ios:455958aaf25f7b16ca1116</string>
</dict>
</plist>